In [1]:
%matplotlib inline
import numpy as np
import pylab

We've been using functions since the very beginning. np.array is a function. len is a function. We call a function using round parenthesis after a name (or any expression that produces a function as its result).

len(A) calls the len function with the argument or parameter A.

Now we're going to learn to define our own functions.

A function definition looks like this:
def double(x):
    return 2 * x

This code will define a function named double that takes a single argument locally called x and returns the result of the expression 2 * x.

In [2]:
def double(x):
    return 2 * x

print(double(3))

6

In [3]:
double(1.5)

3.0

In [4]:
double(np.array([1,2,3,4]))

array([2, 4, 6, 8])

In [9]:
def triple(x):
    z = x+x+x
    return z
triple(2)

6

In [10]:
def triple(x):
    return 3*x
triple(3)

9

In [12]:
def upto(n):
    return np.arange(n)
print(upto(10))

[0 1 2 3 4 5 6 7 8 9]

In [13]:
def sumupto(n):
    temp=np.arange(n)
    return np.sum(temp)
print(sumupto(10))

45

In [19]:
def f1(x):
    return 2*x+1
def f2(x):
    print(2*x+1)

In [20]:
f1(3)

7

In [21]:
f2(4)

9

In [22]:
v1=f1(3)
v2=f2(4)

9

In [23]:
print(v1)

7

In [24]:
print(v2)

None

In [25]:
def FtoC(t):
    return (t-32)*5/9
FtoC(69)

20.555555555555557

In [27]:
def CtoF(t):
    return (9/5 * t)+32
CtoF(20)

68.0

In [28]:
CtoF(FtoC(100))

100.0

In [29]:
CtoF(-40)

-40.0

In [30]:
def f3(x,y,z):
    return x+y*z

In [31]:
f3(1,2,3)

7

In [34]:
def f4(tf):
    tc=FtoC(tf)
    t = tc+20
    return CtoF(t)

In [35]:
f4(68)

104.0