# Notes for 16 October

How often is it Friday the 13th?

In [1]:
%matplotlib inline
import numpy as np
import pylab

In [2]:
import datetime

start = datetime.date(2000, 1, 1)
end = datetime.date(2100, 1, 1)
diff = end - start
print(diff)

36525 days, 0:00:00

In [3]:
datetime.date(2000,1,2) - start

datetime.timedelta(1)

In [7]:
d = start
f13 = 0
years = 100
end = datetime.date(start.year+years, 1, 1)
days = (end - start).days
for i in range(days):
    if d.day == 13 and d.weekday() == 4:
        f13 = f13 + 1
    d = d + datetime.timedelta(1)
print(f13)

172

In [8]:
d = start
f13 = 0
years = 100
end = datetime.date(start.year+years, start.month, start.day)
days = (end - start).days
for i in range(days):
    if d.day == 13 and d.weekday() == 4 and d.month == 10:
        f13 = f13 + 1
    d = d + datetime.timedelta(1)
print(f13)

14

In [13]:
d = start
f13 = []
years = 100
end = datetime.date(start.year+years, start.month, start.day)
days = (end - start).days
oneday = datetime.timedelta(1)
for i in range(days):
    if d.day == 13 and d.weekday() == 4 and d.month == 10:
        f13.append(d)
    d = d + oneday
print(f13)

[datetime.date(2000, 10, 13), datetime.date(2006, 10, 13), datetime.date(2017, 10, 13), datetime.date(2023, 10, 13), datetime.date(2028, 10, 13), datetime.date(2034, 10, 13), datetime.date(2045, 10, 13), datetime.date(2051, 10, 13), datetime.date(2056, 10, 13), datetime.date(2062, 10, 13), datetime.date(2073, 10, 13), datetime.date(2079, 10, 13), datetime.date(2084, 10, 13), datetime.date(2090, 10, 13)]

In [14]:
def listFridayThe13ths(start, years):
    d = start
    f13 = []
    end = datetime.date(start.year+years, start.month, start.day)
    days = (end - start).days
    oneday = datetime.timedelta(1)
    for i in range(days):
        if d.day == 13 and d.weekday() == 4 and d.month == 10:
            f13.append(d)
        d = d + oneday
    return f13

listFridayThe13ths(datetime.date(2000, 1, 1), 100)

[datetime.date(2000, 10, 13),
 datetime.date(2006, 10, 13),
 datetime.date(2017, 10, 13),
 datetime.date(2023, 10, 13),
 datetime.date(2028, 10, 13),
 datetime.date(2034, 10, 13),
 datetime.date(2045, 10, 13),
 datetime.date(2051, 10, 13),
 datetime.date(2056, 10, 13),
 datetime.date(2062, 10, 13),
 datetime.date(2073, 10, 13),
 datetime.date(2079, 10, 13),
 datetime.date(2084, 10, 13),
 datetime.date(2090, 10, 13)]

In [15]:
print(len(listFridayThe13ths(datetime.date.today(), 1000)))

139

In [16]:
L = listFridayThe13ths(datetime.date.today(), 1000)
for d in L:
    print(d.year)

2023
2028
2034
2045
2051
2056
2062
2073
2079
2084
2090
2102
2113
2119
2124
2130
2141
2147
2152
2158
2169
2175
2180
2186
2197
2209
2215
2220
2226
2237
2243
2248
2254
2265
2271
2276
2282
2293
2299
2305
2311
2316
2322
2333
2339
2344
2350
2361
2367
2372
2378
2389
2395
2400
2406
2417
2423
2428
2434
2445
2451
2456
2462
2473
2479
2484
2490
2502
2513
2519
2524
2530
2541
2547
2552
2558
2569
2575
2580
2586
2597
2609
2615
2620
2626
2637
2643
2648
2654
2665
2671
2676
2682
2693
2699
2705
2711
2716
2722
2733
2739
2744
2750
2761
2767
2772
2778
2789
2795
2800
2806
2817
2823
2828
2834
2845
2851
2856
2862
2873
2879
2884
2890
2902
2913
2919
2924
2930
2941
2947
2952
2958
2969
2975
2980
2986
2997
3009
3015