# Notes for 18 September

Today we will begin to talk about function.

In [2]:
%matplotlib inline
import numpy as np
import pylab

We've been using functions since the very beginning. `np.array` is a function. `len` is a function. We **call** a function using round parenthesis after a name (or any expression that produces a function as its result).

`len(A)` calls the `len` function with the **argument** or **parameter** A. 

Now we're going to learn to define our own functions.

A function definition looks like this:

    def double(x):
        return 2 * x
        
This code will define a function named `double` that takes a single argument locally called `x` and returns the result of the expression `2 * x`.

In [3]:
def double(x):
    return 2 * x

print(double(3))

6

In [4]:
double(1.5)

3.0

In [5]:
double(np.array([1,2,3,4]))

array([2, 4, 6, 8])

We can write our funtions with multiple lines inside and temporary variables if we wish.

In [27]:
def triple(x):
    z = x + x + x
    return z
triple(2)

6

This next one overwrites the one above.

In [28]:
def triple(x):
    return 3 * x
triple(3)

9

Here is one that calls another function inside.

In [9]:
def upto(n):
    return np.arange(n)
print(upto(10))

[0 1 2 3 4 5 6 7 8 9]

Or call a couple of functions. It's all good.

In [10]:
def sumupto(n):
    temp = np.arange(n)
    return np.sum(temp)
print(sumupto(10))

45

Two class members helped me with a demonstration. I handed student "f1" a slip of paper with 3 written on it. She returned the paper to me with 7 written on it. I "called" her function ans she "returned" the result. 

I handed the "f2" student a slip of paper with 4 written on it. She yelled out 9 but returned the paper to be blank. I called her, she "printed" a result, but she didn't "return" anything.

In [11]:
def f1(x):
    return 2 * x + 1
def f2(x):
    print(2 * x + 1)

Note the subtle difference below. F3 produces a Out cell but f2 doesn't.

In [12]:
f1(3)

7

In [13]:
f2(4)

9

In [14]:
v1 = f1(3)
v2 = f2(4)

9

In [15]:
print(v1)

7

In [16]:
print(v2)

None

Convert temperatures.

In [17]:
def FtoC(t):
    return (t - 32) * 5 / 9
FtoC(68)

20.0

In [18]:
def CtoF(t):
    return t * 9 / 5 + 32
CtoF(20)

68.0

In [19]:
CtoF(FtoC(100))

100.0

In [20]:
CtoF(-40)

-40.0

In [21]:
FtoC(-40)

-40.0

In [22]:
def f3(x, y, z):
    return x + y * z
f3(1, 2, 3)

7

In [25]:
def f4(temperatureInFahrenheit):
    tc = FtoC(temperatureInFahrenheit)
    t = tc + 20
    return CtoF(t)

In [26]:
f4(68)

104.0