# Notes for 28 August

A single slash gives us division that will produce the expected result, usualy a float

In [2]:
5 / 3

1.6666666666666667

Two /'s will give us integer division. That is we only get the whole part of the result.

In [3]:
5 // 3

1

The percent sign is called "mod", it gives us the remainder after integer division.

In [4]:
5 % 3

2

Someone asked about floats always having a long string of digits. No, they are often exact. For example 1.0 is exactly 1.

In [5]:
1.0

1.0

We did a thought exercise where you tried to determine the value of b without running the code. I think it is going to be 5 * a.

In [6]:
a = 3
b = a + a
b = b + b
b = b + a
print(b)

15

We talked about strings. They are sequences of letters. We often use them in messages we want to present to a human. We can create a string by surrounding letters with a single quote (apostrophe), double quote, three single quotes, or three double quotes. Crazy? Yes!

Notice when we use print we don't see the quotes. When we're showing the text to a human we don't want the quotes getting in the way.

In [7]:
hello = 'Hello world!'
print(hello)

Hello world!

But when we leave the value in the cell, it shows the value to the programmer. Now it includes the quotes because it wants you to know it is a string.

In [8]:
hello

'Hello world!'

An example with double quotes.

In [9]:
name = "Gary Bishop"
print(name)

Gary Bishop

With triple quotes we can have multiple lines in the string.

In [10]:
paragraph = '''This is a long string
with multiple lines

and even some blank lines. It's all ok here.
'''
print(paragraph)

This is a long string
with multiple lines

and even some blank lines. It's all ok here.

When it shows the string to the programmer it shows the newline characters \n embedded in the string.

In [11]:
paragraph

"This is a long string\nwith multiple lines\n\nand even some blank lines. It's all ok here.\n"

I can type them that way also but I prefer the triple quotes.

In [12]:
s = 'this is a test\nof a long string'

In [13]:
print(s)

this is a test
of a long string

I can catenate strings with the plus sign.

In [14]:
hello + name

'Hello world!Gary Bishop'

I can replicate strings multiple times.

In [15]:
hello * 3

'Hello world!Hello world!Hello world!'

But I can't add numbers to strings. Python is a "strongly typed" language. It wants you to combine things only in ways that make sense.

In [16]:
hello + 3

TypeError: Can't convert 'int' object to str implicitly

Below I'm setting the variable s to the single character string with the letter 3 in it. This isn't the value 3, its the character 3. The symbol for 3.

In [17]:
s = '3'
print(s)

3

On the other hand, i becomes the value 3. But notice the output of print looks the same.

In [18]:
i = 3
print(i)

3

If I print them side by side they look the same. The representation for the human is the same but inside the computer they are very different.

In [19]:
print(s, i)

3 3

I can't add them because one is a string and the other is an integer.

In [20]:
i + s

TypeError: unsupported operand type(s) for +: 'int' and 'str'

I can ask for the type of a variable.

In [21]:
type(s)

str

In [22]:
type(i)

int

It gets really confusing when you multiply. This meant make 3 copies of the string '3'.

In [23]:
s * i

'333'

Reminding us about the value of the variable hello.

In [24]:
hello

'Hello world!'

I can look at only one letter if I want. The first letter has index 0. We count from 0 in python and most computer languages. The square brackets mean give me the character at this index.

In [25]:
hello[0]

'H'

The second character.

In [26]:
hello[1]

'e'

The length of the string is 12. It has 12 characters counting the punctuation and the space.

In [27]:
len(hello)

12

The first 6 characters. This is called "slicing".

In [28]:
hello[0:6]

'Hello '

I can compute any of the indexes or use variables for them. This gives me the first half of the string.

In [29]:
L = len(hello) // 2
hello[0:L]

'Hello '

When I print the result the quotes aren't shown.

In [30]:
print(hello[0:L])

Hello

I can start and 0 and go to half the length + 3. Expressions are allowed.

In [31]:
print(hello[0:L+3])

Hello wor

I can go crazy and show the characters on either side of the middle.

In [32]:
print(hello[L-3:L+3])

lo wor

In answer to a question I showed how we could get the string backward! The form is variable [ start : stop : step ]. The default value for start is 0. The default value for stop is past the end. The default value for step is 1.

In [33]:
hello[len(hello):0:-1]

'!dlrow olle'

This below will give me the entire string backwards.

In [35]:
hello[::-1]

'!dlrow olleH'